.idea/
.DS_Store
.vscode/*
venv/
__pycache__/
.ipynb_checkpoints
.pytest_cache/
.coverage
coverage
coverage.json
**/final_data.csv
**/initial_data.csv
**/Tutorial_Simulation
!**/Tutorial_Simulation/
**/Tutorial_Simulation/build/
**/GenotypeDiffFecundity/build/